@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap'); /* font-family: 'Outfit', sans-serif; */

:root {
    --primary-color-one: hsl(215, 51%, 70%); /* Soft blue */
    --primary-color-two: hsl(178, 100%, 50%); /* Cyan */
    --secondary-color: hsl(0, 0%, 100%); /* White */
    --dark-color-main: hsl(217, 54%, 11%); /* Very dark blue main */
    --dark-color-card: hsl(216, 50%, 16%); /* Very dark blue card */
    --dark-color-line: hsl(215, 32%, 27%); /* Very dark blue line */
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    background-color: var(--dark-color-main);
    color: var(--secondary-color);
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 21px;
    margin: 25px 0 15px 0;
}

p {
    color: var(--primary-color-one);
    font-size: 17px;
    font-weight: 300;
    margin: 12px 0;
}

span {
    color: var(--primary-color-two);
    font-weight: 600;
}

hr {
    border: solid var(--dark-color-line) 1px;
    border-bottom: none;
    margin: 12px 0 10px 0;
}

/* Classes */
.card .img-container {
    border-radius: 8px;
    height: 292px;
    position: relative;
    width: 292px;
}

.card .top-img {
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
    height: 100%;
    border-radius: 8px;
}

.card .icon-view-img {
    border-radius: 8px;
    height: 292px;
    position: absolute;
    -webkit-transition: background-color 0.8s ease-in-out 0.1s;
       -moz-transition: background-color 0.8s ease-in-out 0.1s;
         -o-transition: background-color 0.8s ease-in-out 0.1s;
            transition: background-color 0.8s ease-in-out 0.1s;
    width: 292px;
    top: 0;
}

.card .img-container:hover .icon-view-img {
    background-color: var(--primary-color-two);
    background-image: url("../images/icon-view.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.card a {
    color: var(--secondary-color);
    -webkit-transition: color 0.5s ease-out 0.1s;
       -moz-transition: color 0.5s ease-out 0.1s;
         -o-transition: color 0.5s ease-out 0.1s;
            transition: color 0.5s ease-out 0.1s;
}

.card a:hover {
    color: var(--primary-color-two);
}

.cryptocurrency-section {
    justify-content: space-between;
}

.cryptocurrency-section .ethereum-icon {
    width: 12px;
}

.cryptocurrency-section .clock-icon {
    height: 18px;
    width: 18px;
}

.profile-section {
    margin-bottom: 5px;
}

.profile-section .avatar-img {
    border-radius: 100%;
    border: 1px solid #fff;
    margin-right: 14px;
    width: 30px;
}

.cryptocurrency-section p, 
.profile-section p {
    font-size: 16px;
}