.card {
    background-color: var(--dark-color-card);
    border-radius: 15px;
    /* box-shadow: [horizontal offset] [vertical offset] [blurradius] [optional spread radius] [color]; */
    padding: 20px 20px;
    -webkit-box-shadow: 0 25px 13px 13px hsl(216, 50%, 10%);
       -moz-box-shadow: 0 25px 13px 13px hsl(216, 50%, 10%);
            box-shadow: 0 25px 13px 13px hsl(216, 50%, 10%);
    max-width: 332px;
}

.flex {
    display: flex;
    align-items: center;
}

.img-m {
    margin-right: 8px;
}